.adjustments1 {
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: transform 1s;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .adjustments1:hover {
    transform: scaleX(1.7) scaleY(1.7) translateX(10vw);
  }
}
.adjustments2 {
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: transform 1s;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .adjustments2:hover {
    transform: scaleX(1.7) scaleY(1.7) translateX(-12vw);
  }
}

.proshows-entry-fee {
  font-weight: bold;
  justify-content: center;
}

.margin-adjust {
  margin-top: 5px;
}

.proshows-back {
  /* background-color: #7e67b6; */
}

.adjust-margin {
  margin-top: 0 !important;
}

.adjust-margin-bottom {
  margin-bottom: 0 !important;
}