.body-home {
  height: 90vh;
  /* max-width: 100vw; */

  overflow: hidden;

  display: flex;
  background: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}
/* html {
  overflow: hidden;
} */
.night {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  width: 50%;
  height: 50%;
  transform: rotateZ(135deg);
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #ff3031, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before,
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #ff3031,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -161px);
  left: calc(50% - 144px);
  animation-delay: 7189ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star::after:nth-child(1),
.shooting_star:nth-child(1)::after {
  animation-delay: 7189ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 77px);
  left: calc(50% - 116px);
  animation-delay: 1185ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star::after:nth-child(2),
.shooting_star:nth-child(2)::after {
  animation-delay: 1185ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -197px);
  left: calc(50% - 77px);
  animation-delay: 8809ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star::after:nth-child(3),
.shooting_star:nth-child(3)::after {
  animation-delay: 8809ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 179px);
  left: calc(50% - 35px);
  animation-delay: 7120ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star::after:nth-child(4),
.shooting_star:nth-child(4)::after {
  animation-delay: 7120ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 197px);
  left: calc(50% - 2px);
  animation-delay: 4035ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star::after:nth-child(5),
.shooting_star:nth-child(5)::after {
  animation-delay: 4035ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -147px);
  left: calc(50% - 35px);
  animation-delay: 1967ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star::after:nth-child(6),
.shooting_star:nth-child(6)::after {
  animation-delay: 1967ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 177px);
  left: calc(50% - 209px);
  animation-delay: 1187ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star::after:nth-child(7),
.shooting_star:nth-child(7)::after {
  animation-delay: 1187ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 144px);
  left: calc(50% - 236px);
  animation-delay: 9525ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star::after:nth-child(8),
.shooting_star:nth-child(8)::after {
  animation-delay: 9525ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 77px);
  left: calc(50% - 223px);
  animation-delay: 6149ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star::after:nth-child(9),
.shooting_star:nth-child(9)::after {
  animation-delay: 6149ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -183px);
  left: calc(50% - 51px);
  animation-delay: 4253ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star::after:nth-child(10),
.shooting_star:nth-child(10)::after {
  animation-delay: 4253ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 186px);
  left: calc(50% - 272px);
  animation-delay: 930ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star::after:nth-child(11),
.shooting_star:nth-child(11)::after {
  animation-delay: 930ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 106px);
  left: calc(50% - 227px);
  animation-delay: 6450ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star::after:nth-child(12),
.shooting_star:nth-child(12)::after {
  animation-delay: 6450ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 100px);
  left: calc(50% - 247px);
  animation-delay: 5016ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star::after:nth-child(13),
.shooting_star:nth-child(13)::after {
  animation-delay: 5016ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -142px);
  left: calc(50% - 124px);
  animation-delay: 2819ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star::after:nth-child(14),
.shooting_star:nth-child(14)::after {
  animation-delay: 2819ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 58px);
  left: calc(50% - 267px);
  animation-delay: 9548ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star::after:nth-child(15),
.shooting_star:nth-child(15)::after {
  animation-delay: 9548ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -52px);
  left: calc(50% - 56px);
  animation-delay: 1792ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star::after:nth-child(16),
.shooting_star:nth-child(16)::after {
  animation-delay: 1792ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -126px);
  left: calc(50% - 178px);
  animation-delay: 191ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star::after:nth-child(17),
.shooting_star:nth-child(17)::after {
  animation-delay: 191ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -17px);
  left: calc(50% - 264px);
  animation-delay: 7760ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star::after:nth-child(18),
.shooting_star:nth-child(18)::after {
  animation-delay: 7760ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -139px);
  left: calc(50% - 293px);
  animation-delay: 7472ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star::after:nth-child(19),
.shooting_star:nth-child(19)::after {
  animation-delay: 7472ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -188px);
  left: calc(50% - 256px);
  animation-delay: 4997ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star::after:nth-child(20),
.shooting_star:nth-child(20)::after {
  animation-delay: 4997ms;
}
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
