#img-fluid {
  max-width: 200px;
}
#img-fluid {
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: transform 0.5s;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  #img-fluid:hover {
    transform: scaleX(1.3) scaleY(1.3);
  }
}
